<div id="blog" class="page-controleQualidade bg-controleQualidade" >
    <div class="container h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-lg-0 col-xl-3 text-center">
                <h1 class="titleAbout"><strong>CONTROLE DE QUALIDADE</strong></h1>
                <h3 class="titleAbout"><strong>Da concepção, à produção e distribuição: qualidade de ponta a ponta!</strong></h3>
            </div>
        </div>
    </div>
</div>