@media screen and (min-width: 992px) {
  .title {
    font-family: "Montserrat-ExtraBold";
    color: #25aa76;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: bolder;
    padding: 5rem 0 1rem 0;
    text-align: center;
  }

  .subtitle {
    font-family: "Montserrat-ExtraBold";
    color: #25aa76;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 992px) {
  .title {
    font-family: "Montserrat-ExtraBold";
    color: #25aa76;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bolder;
    padding: 6rem 0 1rem 0;
    text-align: center;
  }

  .subtitle {
    font-family: "Montserrat-ExtraBold";
    color: #25aa76;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 6rem;
  }
}
