a{
    text-decoration: none;
}
.bg-controleQualidade {
    background: url("/assets/img/photopea/controleQualidade.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

h1 {
    color: #03b17d;
    font-size: 40px;
    font-weight: bold;
}

h3 {
    text-align: center;
    text-align: center;
    color: #03b17d;
    font-size: 22px;
    font-weight: bold;
}

.page {
    height: 80vh;
}

.img-bg {
    width: 100%;
}

.description {
    position: absolute;
}

@media screen and (min-width: 992px) {
    .title {
        line-height: 2.5rem;
        font-family: "Montserrat-ExtraBold";
        color: #25aa76;
        font-size: 2.5rem;
        font-weight: bolder;
        padding-bottom: 1rem;
        text-align: center;
    }

    .subtitle {
        line-height: 2rem;
        font-family: "Montserrat";
        color: #25aa76;
        font-size: 2rem;
        font-weight: bolder;
        padding-top: 1rem;
        font-style: italic;
        text-align: center;
    }
    .card-title {
        position: relative;
        padding: 2rem 4rem;
        border-radius: 40px 0 0 40px;
    }
}

@media screen and (max-width: 992px) {
    .title {
        line-height: 2.5rem;
        font-family: "Montserrat-ExtraBold";
        color: #25aa76;
        font-size: 2.5rem;
        font-weight: bolder;
        padding-bottom: 1rem;
        text-align: center;
    }

    .subtitle {
        line-height: 2rem;
        font-family: "Montserrat";
        color: #25aa76;
        font-size: 2rem;
        font-weight: bolder;
        padding-top: 1rem;
        font-style: italic;
        text-align: center;
    }
    .card-title {
        position: relative;
        padding: 2rem 4rem;
        border-radius: 40px 0 0 40px;
    }
}