a{
    text-decoration: none;
}

.div-pai {
    padding-right: 30px;
}

.border-icon {
    border: 5px solid #fff;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 500;
}

.border-text {
    border-radius: 4px;
    font-size: 15px;
    padding: 4px 20px;
    background-color: #fff;
    margin-left: -10px;
    font-weight: bolder;
    width: 60%;
    text-align: center;
}

.size-img {
    width: 60%;
}



