<div id="contact" class="pages bg-contact">
    <div class="container h-100 pt-4">
        <div class="row d-flex align-items-center justify-content-left h-100">
            <div class="col-lg-8 col-xl-6 text-left">
                <h1 class="titleContact"><strong>CONTATO</strong></h1>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-7">
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="form-floating mb-3 ">
                        <select class="form-select borderContact" [(ngModel)]="clients.talkTo" name="talkTo">
                            <option selected disabled value="">Deseja falar com</option>
                            <option value="sac@hipolabor.com.br">Elogios</option>
                            <option value="sac@hipolabor.com.br">Sugestões e Críticas</option>
                            <option value="sac@hipolabor.com.br">Dúvidas produtos Hipolabor</option>
                            <option value="sac@hipolabor.com.br">Reclamações técnicas produtos Hipolabor</option>
                            <option value="sac@hipolabor.com.br">Reclamações comerciais</option>
                            <option value="rh@hipolabor.com.br">Oportunidades de emprego Hipolabor</option>
                            <option value="marketing@hipolabor.com.br">Senha profissional de saúde</option>
                            <option value="sac@hipolabor.com.br">Evento adverso</option>
                        </select>
                        <!-- </div> -->
                    </div>
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control borderContact" id="name" type="text" placeholder="Nome ..."
                            [(ngModel)]="clients.name" data-sb-validations="required" />
                        <label for="name">Nome</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">Nome</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control borderContact" id="email" type="email" placeholder="name@email.com"
                            [(ngModel)]="clients.email" data-sb-validations="required,email" />
                        <label for="email">Email</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">Necessário inserir e-mail!</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email inválido!</div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control borderContact" id="phone" type="tel" placeholder="(11)9 1234-5678"
                            [(ngModel)]="clients.phone" data-sb-validations="required" />
                        <label for="phone">Telefone</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">Necessário inserir telefone!
                        </div>
                    </div>
                    <!-- Subject Matter input-->
                    <div class="form-floating mb-3">
                        <input class="form-control borderContact" id="subjectMatter" type="text"
                            placeholder="Assunto ..." [(ngModel)]="clients.subjectMatter"
                            data-sb-validations="required" />
                        <label for="subjectMatter">Assunto</label>

                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control borderContact" id="message" type="text"
                            placeholder="Insira sua mensagem aqui ..." style="height: 10rem"
                            [(ngModel)]="clients.message" data-sb-validations="required"></textarea>
                        <label for="message">Mensagem</label>
                        <!-- <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div> -->
                    </div>
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a
                                href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>

                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Error sending message!</div>
                    </div>
                    <!-- Submit Button -->
                    <div class="d-flex flex-row-reverse"><button mat-raised-button (click)="createClient()"
                            type="button" class="btnContact borderContact btn btn-outline-success">Enviar</button></div>
                </form>
            </div>

            <div class="col-5 pr-5 d-flex flex-column align-items-center justify-content-center">
                

                <div class="div-pai w-100 d-flex flex-column align-items-end justify-content-center">
                    
                    <a class="w-100" href="https://app.protegon.com.br/#/external_incident_complaint/234702d1" target="_blank">
                         <div class="d-flex align-items-center justify-content-end" >
                            <div class="border-icon d-flex align-items-center justify-content-center">
                                <mat-icon style="transform: scale(1.5); color: #25aa76;">check_circle</mat-icon>
                            </div>
                            <div class="border-text">CANAL DE DENÚNCIAS</div>
                        </div>
                    </a>

                    <div class="gx-5 d-flex align-items-center justify-content-end">
                        <div class="mb-4">
                            <a href="https://app.protegon.com.br/#/external_request/d3196ed8" target="_blank">
                                <div class="row gx-4 gx-lg-5 justify-content-end p-2">
                                    <img class="size-img" src="/assets/img/photopea/protegon.png">
                                </div>
                            </a>
                        </div>
                    </div>

                    <a class="w-100" href="https://app.protegon.com.br/#/external_request/d3196ed8" target="_blank">
                        <div class="mb-5 mt-4 d-flex align-items-center justify-content-end">
                            <div class="border-icon d-flex align-items-center justify-content-center">
                                <mat-icon style="transform: scale(1.5); color: #25aa76;">check_circle</mat-icon>
                            </div>
                            <span class="border-text">REQUISIÇÃO DE TITULAR</span>
                        </div>
                    </a>

                </div>

                <div class="mt-5 col-xl-12 d-flex flex-column align-items-end div-pai justify-content-end">
                    <div class="d-flex flex-column align-items-left">
                        <h1 class="sac"> <i class="bi bi-telephone-fill fs-2 mb-3" style="color: #fff;"></i> SAC:
                            <strong>0800 031 1133</strong>
                        </h1>
    
                        <ul class="social-icons text-left" aria-posinset="center-content">
                            <li><a href="#" target="_blank"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/hipolabor-farmaceutica-ltda/" target="_blank"><i
                                        class="bi bi-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/explore/locations/613148707/hipolabor-farmaceutica/"
                                    target="_blank"><i class="bi bi-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>