<div class="pages bg-product" id="product">
  <div class="container">
    <div class="row gx-4 gx-lg-5 justify-content-left">
      <div class="col-lg-8 col-xl-6 text-left">
        <h1 class="titleProduct">BUSCA DE MEDICAMENTO</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">

          <div _ngcontent-rkc-c76="" class="form-floating mb-3"><input _ngcontent-rkc-c76="" id="title" type="text"
              placeholder="" data-sb-validations="required" class="form-control borderContact"><label
              _ngcontent-rkc-c76="" for="title">Título/Nome Produto</label>
          </div>


          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Apresentação" aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <button><i class="bis bi-search"></i></button>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Hipolabor</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Sanval</label>
          </div>
          <!-- <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                            <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
                          </div> -->
        </form>
        <div class="justify-content-center">
          <div class="col">
            <h1 class="texto">MELHORES PRODUTOS MAIS QUALIDADE DE VIDA</h1>
          </div>
        </div>
      </div>
      <div class="col-2">
      </div>


      <div class="col-4">

        <!-- <div class="row gx-4 gx-lg-5 d-flex flex-row-reverse" style="transform: translateY(-150px);"> -->
        <div class="justify-content-center ">
          <div class="alert injectable borderMed text-center">
            INJETÁVEIS <i class="bi bi-file-earmark-arrow-down"></i>
          </div>
          <div class="alert liquidos borderMed text-center">
            LÍQUIDOS <i class="bi bi-file-earmark-arrow-down"></i>
          </div>
          <div class="alert solidos borderMed text-center">
            SÓLIDOS <i class="bi bi-file-earmark-arrow-down"></i>
          </div>
          <div class="alert semisolidos borderMed text-center">
            SEMISÓLIDOS <i class="bi bi-file-earmark-arrow-down"></i>
          </div>
        </div>

        <!-- <div class="borderInfoVigi p-3 text-center " > -->
        <!-- <h1 class="titleInfoVigi font-weight-bold"><strong>INFO-VIGI</strong></h1></div>
                        <h2 class="textLayout">Conheça nossos canais de farmacovigilância.</h2> -->
        <!--                      
                </div> -->
      </div>

    </div>