<div id="product" class="page-product pages bg-product">
  <div class="container h-100">
    
    <div class="row d-flex align-items-center justify-content-center h-100">

      <div class="col-5 d-flex flex-column align-items-center justify-content-start">

        <h1 class="titleProduct m-0">BUSCA DE MEDICAMENTO</h1>

        <form id="contactForm" data-sb-form-api-token="API_TOKEN" class="w-100 my-5">

          <!-- Title input-->
          <div class="form-floating input-group mb-3">
            <input id="title" type="text" class="form-control borderContact" style="border-radius: 10px 0 0 10px;"
              placeholder="" required />
            <label for="name">Título/Nome Produto</label>
            <div class="invalid-feedback" data-sb-feedback="name:required">Nome</div>

            <div class="input-group-append">
              <span id="basic-addon2" class="input-group-text h-100"
                style="background-color: #25aa76;border-radius: 0 10px 10px 0;border: 1px solid #25aa76">
                <i style="color: #fff" class="bis bi-search"></i>
              </span>
            </div>
          </div>

          <!-- Fabricante input-->
          <div class="d-flex align-items-center justify-content-between">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label manufacturer font-weight-bold" for="inlineRadio1">HIPOLABOR</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label manufacturer font-weight-bold" for="inlineRadio2">SANVAL</label>
            </div>
          </div>

        </form>

        <h1 class="texto m-0">MELHORES PRODUTOS, MAIS QUALIDADE DE VIDA</h1>

      </div>

      <div class="col-7 d-flex align-items-center justify-content-end">

        <div class="col-8">
          <a style="text-decoration: none;" download href="/assets/pdf/Catalogo-Completo.pdf">
            <div class="d-flex align-items-center justify-content-center m-3 text-end">
              <h1 style="font-family: Montserrat-ExtraBold;font-size: medium; color: #24aa76;font-weight: 900;">Clique e
                faça o download do catálogo completo.</h1>
              <img class="m-2" src="/assets/img/photopea/download-icon.jpeg" alt="download">
            </div>
          </a>


          <div>
            <div class="alert injectable borderMed text-center">
              INJETÁVEIS <i class="bi bi-file-earmark-arrow-down"></i>
            </div>
            <div class="alert liquidos borderMed text-center">
              LÍQUIDOS <i class="bi bi-file-earmark-arrow-down"></i>
            </div>
            <div class="alert solidos borderMed text-center">
              SÓLIDOS <i class="bi bi-file-earmark-arrow-down"></i>
            </div>
            <div class="alert semisolidos borderMed text-center">
              SEMISÓLIDOS <i class="bi bi-file-earmark-arrow-down"></i>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>