.bg-news{
    background-image: url("/assets/img/photopea/fundoMidia.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.titleNews{
    color: #fff;
    font-size: 3.0rem;
    margin: 40px 0;
    border: #fff;
}

