<!-- Portfolio-->
<section class="page-section bg-hipolaborNaMidia" id="news">
    <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h1 class="mt-0">Hipolabor <strong>na mídia</strong> </h1>
                    <hr class="divider" />
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-4 col-sm-6">
                    <h1 class="text-white text-center">VIDEO 1</h1>
                    <div class="embed">
                        <iframe src="https://www.youtube.com/embed/DPXq9IDslb0"></iframe>
                    </div>
                    <br>
                    <p class="text-white mb-0">A Hipolabor Farmacêutica oferece a seus clientes uma ampla Divisão de medicamentos. Com produtos de qualidade e alta eficácia, a Empresa é reconhecida como uma das maiores indústrias farmacêuticas do país. A consolidação da Hipolabor
                        no mercado deve-se à responsabilidade e ao compromisso que assumimos de oferecer medicamentos que proporcionem a melhoria da qualidade de vida de nossa comunidade e de nosso país.
                    </p><br>
                    <p class="text-white mb-0">
                        <strong>Selecione entre a divisão hospitalar e a divisão farma e tire suas dúvidas sobre os medicamentos da Hipolabor</strong>
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <h1 class="text-white text-center">VIDEO 2</h1>
                    <div class="embed">
                        <iframe src="https://www.youtube.com/embed/_lFjvtchpAc"></iframe>
                    </div>
                    <br>
                    <p class="text-white mb-0">A Hipolabor Farmacêutica oferece a seus clientes uma ampla Divisão de medicamentos. Com produtos de qualidade e alta eficácia, a Empresa é reconhecida como uma das maiores indústrias farmacêuticas do país. A consolidação da Hipolabor
                        no mercado deve-se à responsabilidade e ao compromisso que assumimos de oferecer medicamentos que proporcionem a melhoria da qualidade de vida de nossa comunidade e de nosso país.
                    </p><br>
                    <p class="text-white mb-0">
                        <strong>Selecione entre a divisão hospitalar e a divisão farma e tire suas dúvidas sobre os medicamentos da Hipolabor</strong>
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <h1 class="text-white text-center">VIDEO 3</h1>
                    <div class="embed">
                        <iframe src="https://www.youtube.com/embed/-6WJ4cgll3Y"></iframe>
                    </div>
                    <br>
                    <p class="text-white mb-0">A Hipolabor Farmacêutica oferece a seus clientes uma ampla Divisão de medicamentos. Com produtos de qualidade e alta eficácia, a Empresa é reconhecida como uma das maiores indústrias farmacêuticas do país. A consolidação da Hipolabor
                        no mercado deve-se à responsabilidade e ao compromisso que assumimos de oferecer medicamentos que proporcionem a melhoria da qualidade de vida de nossa comunidade e de nosso país.
                    </p><br>
                    <p class="text-white mb-0">
                        <strong>Selecione entre a divisão hospitalar e a divisão farma e tire suas dúvidas sobre os medicamentos da Hipolabor</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>