@media screen and (min-width: 992px) {
  .titleNews {
    color: #fff;
    font-size: 3rem;
    line-height: 3rem;
  }

  .titleCard {
    font-family: "Montserrat-ExtraBold";
    font-weight: bolder;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
  }

  .view-more {
    background-color: #fff;
    color: #25aa76;
    border: 2px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .view-more:hover {
    background-color: #25aa76;
    color: #fff;
    border: 2px solid #fff;
  }

  .text-description {
    color: #fff;
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 1rem;
    line-height: 1rem;
    text-align: justify;
  }

}

@media screen and (max-width: 992px) {
  .titleNews {
    color: #fff;
    font-size: 2rem;
    line-height: 2rem;
    padding: 3rem 0;
  }

  .titleCard {
    font-family: "Montserrat-ExtraBold";
    font-weight: bolder;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
  }

  .view-more {
    width: 100%;
    background-color: #fff;
    color: #25aa76;
    border: 2px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .text-description {
    color: #fff;
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 1rem;
    line-height: 1rem;
    text-align: justify;
  }

}
