<!-- Portfolio-->
<div id="news" class="pages bg-midia" id="news">
    <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h1 class="titleMidia">HIPOLABOR<strong> na mídia</strong></h1>
                    <hr class="divider" />
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row card-deck">
                    <div class="col-md-4 card ">
                        <h2 class="titleCard text-white text-center" >VÍDEO 1</h2>
                        <div class="embed mb-4 ">
                            <iframe class="shadow-lg" src="https://www.youtube.com/embed/_lFjvtchpAc"></iframe>
                        </div>
                        
                        <p class="text-white mb-3">A Hipolabor Farmacêutica oferece a seus clientes uma ampla Divisão de medicamentos. Com produtos de qualidade e alta eficácia, a Empresa é reconhecida como uma das maiores indústrias farmacêuticas do país. A consolidação da Hipolabor
                            no mercado deve-se à responsabilidade e ao compromisso que assumimos de oferecer medicamentos que proporcionem a melhoria da qualidade de vida de nossa comunidade e de nosso país.
                        </p>
                        <p class="text-white mb-3">
                            <strong>Selecione entre a divisão hospitalar e a divisão farma e tire suas dúvidas sobre os medicamentos da Hipolabor</strong>
                        </p>
                        <h3 class="text-white mb-3">
                            <strong>BUSCA POR MEDICAMENTO</strong>
                        </h3>
                    </div>
                    <div class="col-md-4 card">
                        <h2 class="titleCard text-white text-center">VÍDEO 2</h2>
                        <div class="embed mb-4">
                            <iframe class="shadow-lg" src="https://www.youtube.com/embed/_lFjvtchpAc"></iframe>
                        </div>
                        
                        <p class="text-white mb-3">A Hipolabor Farmacêutica oferece a seus clientes uma ampla Divisão de medicamentos. Com produtos de qualidade e alta eficácia, a Empresa é reconhecida como uma das maiores indústrias farmacêuticas do país. A consolidação da Hipolabor
                            no mercado deve-se à responsabilidade e ao compromisso que assumimos de oferecer medicamentos que proporcionem a melhoria da qualidade de vida de nossa comunidade e de nosso país.
                        </p>
                        <p class="text-white mb-3">
                            <strong>Selecione entre a divisão hospitalar e a divisão farma e tire suas dúvidas sobre os medicamentos da Hipolabor</strong>
                        </p>
                        <h3 class="text-white mb-3">
                            <strong>BUSCA POR MEDICAMENTO</strong>
                        </h3>
                    </div>
                    <div class="col-md-4 card">
                        <h2 class="titleCard text-white text-center ">VÍDEO 3</h2>
                        <div class="embed mb-4">
                            <iframe class="shadow-lg" src="https://www.youtube.com/embed/_lFjvtchpAc"></iframe>
                        </div>
                        
                        <p class="text-white mb-3">A Hipolabor Farmacêutica oferece a seus clientes uma ampla Divisão de medicamentos. Com produtos de qualidade e alta eficácia, a Empresa é reconhecida como uma das maiores indústrias farmacêuticas do país. A consolidação da Hipolabor
                            no mercado deve-se à responsabilidade e ao compromisso que assumimos de oferecer medicamentos que proporcionem a melhoria da qualidade de vida de nossa comunidade e de nosso país.
                        </p>
                        <p class="text-white mb-3">
                            <strong>Selecione entre a divisão hospitalar e a divisão farma e tire suas dúvidas sobre os medicamentos da Hipolabor</strong>
                        </p>
                        <h3 class="text-white mb-3">
                            <strong>BUSCA POR MEDICAMENTO</strong>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>