<div style="background-color: #fafafa;" [ngClass]="{'pagesDynamics': innerWidth >= 992}">
  <div class="container h-100">
    <div class="row gx-4 gx-lg-5 justify-content-center text-center">
      <h1 class="titleNews">HIPOLABOR <span style="font-family: 'Montserrat-ExtraBold';">na mídia</span></h1>
    </div>
    <div class="col-sm-12">
      <div class="row card-deck">

        <div *ngFor="let midia of midias" class="col-lg-4 col-12 card mb-3">
          <h2 class="titleCard text-black text-center">{{midia.title}}</h2>
          <div class="embed mb-4 shadow-lg">
            <iframe class="shadow-lg" src="https://www.youtube.com/embed/GbJmU6w_CyE"></iframe>
            <!-- <iframe class="shadow-lg" src="{{midia.urlVideo}}"></iframe> -->
          </div>
          <p class="text-black mb-3">{{midia.description}}
          </p>
        </div>
        
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center w-100 pb-5 pt-3">
      <button (click)="getNewPage()" mat-raised-button class="view-more">
        Ver mais
      </button>
    </div>
  </div>
</div>