<footer id="footer" class="footer-1">
    <div class="footer-copyright bg-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="#"
                    target="_blank">
                    <h1 class="text">Rueiros do Bem</h1>
                    </a>
                    <a href="https://www.google.com.br/maps/place/R.+Joaquim+Jacinto+-+Bela+Vista,+Osasco+-+SP,+06070-130/@-23.5492837,-46.7813629,355m/data=!3m1!1e3!4m13!1m7!3m6!1s0x94ceff70d9f90ebd:0x8f5b233141df1209!2sR.+Joaquim+Jacinto+-+Bela+Vista,+Osasco+-+SP,+06070-130!3b1!8m2!3d-23.5488806!4d-46.7812105!3m4!1s0x94ceff70d9f90ebd:0x8f5b233141df1209!8m2!3d-23.5488806!4d-46.7812105!5m1!1e4"
                    target="_blank">
                    <h5 class="card-title title-unity">
                      <i class="bi bi-geo-alt-fill" style="color: #FFE16B"></i>
                      Unidade <span class="titleStrong">SÃO PAULO</span>
                    </h5>
                    <h5 class="card-text subtitle-unity">
                      Rua Joaquim Jacinto, nº368
                      Bairro: Bela Vista Osasco, São Paulo/SP. CEP: 060-70130
                      Telefone: (11) 3408-1800 | Telefone: (11) 9 973408-1802
                    </h5>
                  </a>
                </div>
                <div class="d-flex justify-content-center h-100">
                    <ul class="social-icons p-0">
                        <li>
                            <a href="https://www.linkedin.com/company/hipolabor-farmaceutica-ltda/" target="_blank"><i
                                class="bi bi-linkedin"></i></a></li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCEtp-0_0egvFSbhZ6Ej_zxg" target="_blank"><i
                                class="bi bi-youtube"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/rueirosdobem/"
                                target="_blank"><i class="bi bi-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>