a {
  text-decoration: none;
  color: #25aa76 !important;
  font-size: 0.9rem;
}

.logo {
  transform: scale(1.3);
}

.logo:hover {
  cursor: pointer;
}

.subtitle-number {
  margin: 0 24px 8px 0;
  color: #f8f9fa;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Montserrat-ExtraBold";
}

.subtitle-sac {
  margin: 0 8px 8px 8px;
  color: #f8f9fa;
  font-size: 1.2rem;
}

.clipboard {
  cursor: pointer;
}

.item {
  cursor: pointer;
}
