<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-flex flex-column" id="mainNav">
    <div class=" d-flex justify-content-between">
        <div style="width: 200px; background-color: white;" class="d-flex justify-content-end ">
            <img src="/assets/img/photopea/logo.png" width="150px" class="my-2">
            <div 
                style=" border-radius: 0% 100% 26% 0% / 0% 89% 13% 0%; background-color: white; min-width: 20px; width: 20px;  transform: translateX(20px);">

            </div>
        </div>
        <div>
            sac
        </div>
    </div>
    <div class="container px-4 px-lg-5">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="home" (click)="scrollTo('home')">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="about-us" (click)="scrollTo('about')">Sobre Nós</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="products" (click)="scrollTo('product')">Produtos</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="work-with-us">Trabalhe Conosco</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="certificate-in-analysis">Certificado de análise</a>
                </li>
                <li class="nav-item"><a class="nav-link" routerLink="news" (click)="scrollTo('news')">Notícias</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="sac" (click)="scrollTo('contact')">SAC</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="contact" (click)="scrollTo('contact')">Contato</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
</mat-sidenav-content> -->