a {
  text-decoration: none;
  color: #25aa76!important;
  font-size: .9rem;
}

.logo {
  padding-top: 32px;
}

.subtitle-number {
  margin: 0 24px 8px 0;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Montserrat-ExtraBold';
}

.subtitle-sac {
  margin: 0 8px 8px 8px;
  color: #fff;
  font-size: 1.2rem;
}
