<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top d-lg-flex flex-lg-column p-0"
  style="background-color: #fff;box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);">

  <!-- ============ NAV MOBILE ============ -->
  <div *ngIf="show && innerWidth < 992" class="d-flex align-items-center justify-content-between w-100">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="transform: scale(1.5);"></span>
    </button>

    <a class="navbar-brand" href="#">
      <img src="assets/img/photopea/logo.png" alt="logo" width="200px">
    </a>
    <div></div>
  </div>


  <!-- ============ NAV DESKTOP ============ -->
  <div *ngIf="show && innerWidth >= 992" class="row d-flex align-items-end justify-content-between w-100"
    style="background-color: #191919;">
    <div class="col-8 d-flex align-items-center justify-content-start p-0">
      <img class="logo col-5" [routerLink]="['']" src="/assets/img/logo-full.png">
    </div>

    <div (click)="clipboard('(11) 9 7123-4596')" class="clipboard col-4 d-flex align-items-center justify-content-end">
      <i style="color: #f8f9fa" class="bi bi-telephone-fill"></i>
      <p class="subtitle-sac">Contato:</p>
      <p class="subtitle-number">(11) 9 7123-4596</p>
    </div>
  </div>

  <!-- ============ NAV LINK ============ -->
  <div class="collapse navbar-collapse pb-2 pt-4" id="navbarNav">
    <ul class="navbar-nav" [ngClass]="{'px-4': innerWidth <= 992}">
      <li class="nav-item item"><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="nav-link"
          (click)="scrollTo('carouselExampleCaptions')">HOME</a></li>
      <li *ngIf="innerWidth >= 992" class="nav-item"><a class="nav-link">|</a></li>
      <li class="nav-item item"><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="nav-link"
          (click)="scrollTo('about')">RUEIROS DO BEM</a></li>
      <li *ngIf="innerWidth >= 992" class="nav-item"><a class="nav-link">|</a></li>
      <li class="nav-item item"><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="nav-link"
          (click)="scrollTo('product')">PRODUTOS</a></li>
      <li *ngIf="innerWidth >= 992" class="nav-item"><a class="nav-link">|</a></li>
      <li class="nav-item item"><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="nav-link"
          (click)="scrollTo('contact')">SEJA UM VOLUNTÁRIO</a></li>
      <li *ngIf="innerWidth >= 992" class="nav-item"><a class="nav-link">|</a></li>
      <!-- <li class="nav-item item"><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="nav-link"
          href="http://www2.hipolabor.com.br/cgi-bin/wspd_cgi.sh/WService=laudo/_src/index.wspx"
          target="_blank">CERTIFICADO DE ANÁLISE</a>
      </li> -->
      <!-- <li *ngIf="innerWidth >= 992" class="nav-item"><a class="nav-link">|</a></li> -->
      <li class="nav-item item"><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="nav-link"
          (click)="scrollTo('news')">NOTÍCIAS</a></li>
      <!-- <li *ngIf="innerWidth >= 992" class="nav-item"><a class="nav-link">|</a></li>
      <li class="nav-item item"><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="nav-link"
          (click)="scrollTo('contact')">SAC</a></li>-->
      <li *ngIf="innerWidth >= 992" class="nav-item"><a class="nav-link">|</a></li> 
      <li class="nav-item item"><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="nav-link"
          (click)="scrollTo('contact')">CONTATO</a></li>
    </ul>
  </div>

</nav>

<router-outlet></router-outlet>
