@media screen and (min-width: 992px) {
  .title {
    font-family: "Montserrat-ExtraBold";
    color: #fff;
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: bolder;
    padding: 0;
    margin: 0;
  }

  .subtitle {
    font-family: "Montserrat-ExtraBold";
    color: #fff;
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem 4rem;
    font-weight: bolder;
    text-align: end;
    text-shadow: black 0.1em 0.1em 3em;
  }

  .card-title {
    background: #191919;
    padding: 1rem 4rem;
    border-radius: 40px 0 0 40px;
  }
}

@media screen and (max-width: 992px) {
  .title {
    font-family: "Montserrat-ExtraBold";
    color: #fff;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bolder;
    padding: 0;
    margin: 0;
  }

  .subtitle {
    font-family: "Montserrat-ExtraBold";
    color: #fff;
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem 1rem;
    font-weight: bolder;
    text-align: end;
    text-shadow: black 0.1em 0.1em 0.5em;
  }
  .card-title {
    background: #191919;
    padding: 1rem 3rem;
    border-radius: 40px 0 0 40px;
  }
}
