<div id="infoVigi" class="page-infoVigi pages bg-infoVigi">
    <div class="container h-100">
        <div class="row d-flex align-items-center justify-content-end h-100">
            <div class="col-lg-0 col-xl-3">
                <div class="borderInfoVigi p-3 text-center ">
                    <h1 class="titleInfoVigi font-weight-bold"><strong>INFO-VIGI</strong></h1>
                </div>
                <h2 class="textLayout">Conheça nossos canais de farmacovigilância.</h2>
            </div>
        </div>
    </div>
</div>