<div id="infoVigi" class="bg-infoVigi" [ngClass]="{'pages': innerWidth >= 992}">
    <div class="container h-100">
        <div class="row d-flex align-items-center justify-content-end h-100">
            <div class="col-lg-12 col-12 d-flex flex-column align-items-end justify-content-end">
                <div class="card-title ">
                    <h1 class="title">INFO-VIGI</h1>
                </div>
                <h1 class="subtitle">
                    Conheça
                    <br>nossos canais de
                    <br>farmacovigilância.
                </h1>
            </div>
        </div>
    </div>