a{
    text-decoration: none;
}

.borderInfoVigi {
    /* border-top-right-radius: 10px; */
    border-top-left-radius: 40px;
    /* border-end-end-radius: 10px; */
    border-end-start-radius: 40px;
    background-color: #25aa76;
}

.bg-infoVigi{
    
    /* padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem); */
    background-image: url("/assets/img/photopea/infoVigi.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

}

.page-infoVigi {
    height: 100vh;
}

.titleInfoVigi{
    font-size: 2.5rem;
    color: #fff;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}