<div class="pages bg-infoVigi" id="blog">
    <div class="container-fluid p-0">
        <div class="row gx-4 gx-lg-5 d-flex flex-row-reverse" style="transform: translateY(-150px);">
            <div class="col-lg-0 col-xl-3">
                <div class="borderInfoVigi p-3 text-center " ><h1 class="teste font-weight-bold"><strong>INFO-VIGI</strong></h1></div>
                <h2 class="textLayout">Conheça nossos canais de farmacovigilância.</h2>
            </div>
        </div>
        <!-- <div class="d-grid denuncias  d-flex flex-row-reverse">
            This is a primary alert—check it out!
          </div> -->
 