.media {
  display: flex;
  align-items: center;
}

.media-body {
  flex: 1;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.text{
  font-family: "Montserrat";
  color: #fff;
  font-size: 14px;
  margin-left: 5rem;
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    .title-objetivos {
        font-family: "Montserrat-ExtraBold";
        color: #fff;
        font-size: 2rem;
        line-height: 2rem;
        padding: 1.5rem 0 1rem 0;
        margin-left: 2rem;
      }
  
    .subtitle {
        font-family: "Montserrat";
        font-size: 4rem;
        line-height: 4rem;
        color: #fff;
        margin: 0;
        padding-top: 8rem;
        text-shadow: black 0.1em 0.1em 0.2em;
    }

    .titleObjetivos {
      font-family: "Montserrat-ExtraBold";
      color: #5D27A1;
      font-size: 2rem;
      line-height: 2rem;
      padding: 1.5rem 0 1rem 0;
      text-align: center;
    }

  }


  /* MOBILE */
  @media screen and (max-width: 992px) {

    .title-objetivos {
        font-family: "Montserrat-ExtraBold";
        color: #fff;
        font-size: 2rem;
        line-height: 2rem;
        padding: 1.5rem 0 1rem 0;
        margin-left: 2rem;
        
      }
 
      .subtitle {
          font-family: "Montserrat";
          font-size: 2rem;
          line-height: 2rem;
          color: #fff;
          margin: 0;
          text-shadow: black 0.1em 0.1em 0.2em;
          margin-top: 8rem;
      }

      .titleObjetivos {
        font-family: "Montserrat-ExtraBold";
        color: #5D27A1;
        font-size: 2rem;
        line-height: 2rem;
        padding: 1.5rem 0 1rem 0;
        text-align: center;
      }
  }
  

