<div id="goals" class="bg-product" [ngClass]="{'pages': innerWidth >= 992}">
    <div class="container">
        <h1 class="mt-1 mb-1 titleObjetivos">OBJETIVOS</h1>
        <div class="row d-flex justify-content-center h-100">
            <div class="col-sm-12 align-items-center">
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-white bg-light card">
                            <div class="card-body" style="background-color: #5D27A1;">
                                <div class="media">
                                    <div class="media-body objetivos">
                                       
                                        <h4 class="mt-1 mb-1 title-objetivos">A empresa</h4>
                                        <p class="text"> Com o objetivo de assegurar o fornecimento
                                            dos
                                            medicamentos
                                            essenciais para a saúde da população em meio à pandemia, a Hipolabor
                                            priorizou e
                                            aumentou a produção de fármacos direcionados ao tratamento de pacientes
                                            internados por
                                            causa do novo coronavírus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-white bg-light card">
                            <div class="card-body" style="background-color: #25aa76;">
                                <div class="media">
                                    <div class="media-body objetivos">
                                        
                                        <h4 class="mt-1 mb-1 title-objetivos">Missão</h4>
                                        <p class="text"> Com o objetivo de assegurar o fornecimento
                                            dos
                                            medicamentos
                                            essenciais para a saúde da população em meio à pandemia, a Hipolabor
                                            priorizou e
                                            aumentou a produção de fármacos direcionados ao tratamento de pacientes
                                            internados por
                                            causa do novo coronavírus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-white bg-light card">
                            <div class="card-body" style="background-color: #5D27A1;">
                                <div class="media">
                                    <div class="media-body objetivos">
                                       
                                        <h4 class="mt-1 mb-1 title-objetivos">Visão</h4>
                                        <p class="text"> Com o objetivo de assegurar o fornecimento
                                            dos
                                            medicamentos
                                            essenciais para a saúde da população em meio à pandemia, a Hipolabor
                                            priorizou e
                                            aumentou a produção de fármacos direcionados ao tratamento de pacientes
                                            internados por
                                            causa do novo coronavírus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-white bg-light card">
                            <div class="card-body" style="background-color: #25aa76;">
                                <div class="media">
                                    <div class="media-body objetivos">
                                        
                                        <h4 class="mt-1 mb-1 title-objetivos">Valores</h4>
                                        <p class="text"> Com o objetivo de assegurar o fornecimento
                                            dos
                                            medicamentos
                                            essenciais para a saúde da população em meio à pandemia, a Hipolabor
                                            priorizou e
                                            aumentou a produção de fármacos direcionados ao tratamento de pacientes
                                            internados por
                                            causa do novo coronavírus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-white bg-light card">
                            <div class="card-body" style="background-color: #5D27A1;">
                                <div class="media">
                                    <div class="media-body objetivos">
                                    
                                        <h4 class="mt-1 mb-1 title-objetivos">Política de Qualidade</h4>
                                        <p class="text"> Com o objetivo de assegurar o fornecimento
                                            dos
                                            medicamentos
                                            essenciais para a saúde da população em meio à pandemia, a Hipolabor
                                            priorizou e
                                            aumentou a produção de fármacos direcionados ao tratamento de pacientes
                                            internados por
                                            causa do novo coronavírus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
