<div id="home" class="page-home bg-home">
    <div class="container h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-5 d-flex flex-column align-items-start justify-content-start">
                <h1 class="titleHome m-0"> Referência</h1>
                <h1 class="titleHome m-0"> nacional em</h1>
                <h1 class="titleHome m-0">GENÉRICOS</h1>
                <h1 class="titleHome m-0">INJETÁVEIS</h1>
            </div>
        </div>
    </div>
</div>