a {
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .title {
        line-height: 2rem;
        font-family: "Montserrat-ExtraBold";
        font-weight: bolder;
        font-size: 2rem;
        color: #fff;
        margin: 0;
        text-shadow: black 0.1em 0.1em 0.2em;
        margin-bottom: 3rem;
    }

    .subtitle {
        line-height: 2rem;
        font-family: "Montserrat";
        font-size: 2rem;
        color: #fff;
        margin: 0;
        text-shadow: black 0.1em 0.1em 0.2em;
        margin-top: 8rem;
    }
}

@media screen and (min-width: 992px) {
    .title {
        line-height: 4rem;
        font-family: "Montserrat-ExtraBold";
        font-weight: bolder;
        font-size: 4rem;
        color: #fff;
        margin: 0;
        text-shadow: black 0.1em 0.1em 0.2em;
    }

    .subtitle {
        line-height: 4rem;
        font-family: "Montserrat";
        font-size: 4rem;
        color: #fff;
        margin: 0;
        text-shadow: black 0.1em 0.1em 0.2em;
    }
}
