a{
    text-decoration: none;
}

.page-home{
    height: 80vh;
}

.title {
    line-height: 4rem;
    font-family: 'Montserrat-ExtraBold';
    font-weight: bolder;
    font-size: 4rem;
    color: #fff;
    margin: 0;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.subtitle {
    line-height: 4rem;
    font-family: 'Montserrat';
    font-size: 4rem;
    color: #fff;
    margin: 0;
    text-shadow: black 0.1em 0.1em 0.2em;
}