<div id="lgpd" class="bg-lgpd" [ngClass]="{'pages': innerWidth >= 992}">
  <div class="container h-100">
    <div class="content-lgpd h-100">
      <a href="https://www.hipolabor.com.br/blog/setor-da-saude-se-prepara-para-atender-a-lgpd/" target="_blank">
        <h1 class="title">LGPD</h1>
        <h2 class="subtitle">
          Seus dados em
          <span class="subtitleStrong">
            <br>segurança.
          </span>
        </h2>
        <h2 class="subtitle">
          Saiba mais
          <span class="subtitleStrong">
            aqui.
          </span>
        </h2>
      </a>
    </div>
  </div>
</div>
