<div id="lgpd" class="page-lgpd bg-lgpd" >
    <div class="container-fluid h-100">
        <div class="row d-flex align-items-center justify-content-end h-100">
            <div class="col-lg-0 col-xl-3">
            <a href="#" target="_blank">
                <h1 class="titleLgpd m-0">LGPD</h1>
                <h2 class="text-white justify-content-end h-100">Seus dados em segurança. Saiba mais aqui.</h2>
                <!-- <h2 class="text-white">Seus dados em<strong> segurança.</strong> Saiba mais<strong> aqui.</strong> </h2> -->
            </a>
            </div>
        </div>
    </div>
</div>
