<div id="lgpd" class="bg-lgpd" [ngClass]="{'pages': innerWidth >= 992}">
    <div class="container h-100">
        <div class="row d-flex align-items-center justify-content-end h-100">
            <div class="col-lg-12 col-12 d-flex flex-column align-items-end justify-content-end">
                <a href="https://www.hipolabor.com.br/blog/setor-da-saude-se-prepara-para-atender-a-lgpd/"
                    target="_blank">
                    <div class="card-title">
                    <h1 class="title">LGPD</h1>
                    
                    <h2 class="subtitle">
                        Seus dados em segurança. Saiba mais aqui.</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div> 
