<body id="page-top">
    <!-- Navigation-->
    <app-navbar></app-navbar>
    <!-- Masthead-->
    <app-home></app-home>
    <!-- About Us-->
    <app-about-us></app-about-us>
    <!-- Products-->
    <app-products></app-products>
    <!-- News -->
    <app-news></app-news>
    <!-- Blog -->
    <app-blog></app-blog>
    <!-- Contact-->
    <app-contact></app-contact>
    <!-- Footer-->
    <app-footer></app-footer>
    <!-- <router-outlet></router-outlet> -->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>