<div id="about" class="page-about bg-fundoCinza" [ngClass]="{'pages': innerWidth >= 992}">
    <div class="container-fluid p-0 h-100">
        <div class="content-about container">
            <h1 class="titleAbout text-center">Esta é a
                <span class="titleAboutStrong">HIPOLABOR</span>
            </h1>
            <div class="row card-deck">
                <div class="col-lg-3 col-12 card mb-4">
                    <h2 class="titleCard text-center">LIDERANÇA</h2>
                    <div class="borderCard text-white bg-success card-body d-flex  align-items-center">
                        <p class="text-center">Maior fabricante de <strong style="font-size: large;">genéricos
                                injetáveis do Brasil</strong> </p>
                    </div>
                </div>
                <div class="col-lg-3 col-12 card mb-4">
                    <h2 class="titleCard text-center">INOVAÇÃO</h2>
                    <div class="borderCard text-white bg-success card-body d-flex  align-items-center">
                        <p class="text-center">Um dos mais<strong style="font-size: large;"> modernos parques
                                fabris</strong> do país</p>
                    </div>
                </div>
                <div class="col-lg-3 col-12 card mb-4">
                    <h2 class="titleCard text-center ">QUALIDADE</h2>
                    <div class="borderCard text-white bg-success card-body d-flex  align-items-center">
                        <p class="borderCard text-center">Toda cadeia produtiva das unidades fabris do Grupo Hipolabor
                            Sanval foi concebida<strong style="font-size: large;"> seguindo rígidos padrões técnicos
                                internacionais</strong> </p>
                    </div>
                </div>
                <div class="col-lg-3 col-12 card mb-4">
                    <h2 class="titleCard text-center ">PRESENÇA</h2>
                    <div class="borderCard text-white bg-success card-body d-flex  align-items-center">
                        <p class="text-center">Os produtos Hipolabor estão presentes nos <strong
                                style="font-size: large;"> hospitais e clínicas dos quatros cantos do país</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-img bg-sobre"></div>
    </div>
</div>