<div id="about" class="pages bg-fundoCinza">
    <div class="container px-1 px-lg-2">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="titleAbout">Está é a <strong>HIPOLABOR</strong></h1>
                <hr class="dividerBlog" />
                <p class="text-black-75 mb-4"></p>
            </div>
        </div>
        <div class="col-sm-12 ">
            <div class="row card-deck">
                <div class="col-md-3 card">
                    <h2 class="titleCard text-white text-center" >LIDERANÇA</h2>
                    <div  class="borderCard text-white bg-success card-body d-flex  align-items-center">
                        <p class="text-center">Maior fabricante de <strong style="font-size: larger;">genéricos injetáveis do Brasil</strong> </p>
                    </div>
                </div>
                <div class="col-md-3 card">
                    <h2 class="titleCard text-white text-center">INOVAÇÃO</h2>
                    <div class="borderCard text-white bg-success card-body d-flex  align-items-center">
                        <p class="text-center">Um dos mais<strong style="font-size: larger;"> modernos parques fabris</strong> do país</p>                     
                    </div>
                </div>
                <div class="col-md-3 card">
                    <h2 class="titleCard text-white text-center ">QUALIDADE</h2>
                    <div class="borderCard text-white bg-success card-body d-flex  align-items-center">
                        <p class="borderCard text-center">Toda cadeia produtiva das unidades fabris do Grupo Hipolabor Sanval foi concebida<strong style="font-size: larger;"> seguindo rígidos padrões técnicos internacionais</strong> </p>
                    </div>
                </div>
                <div class="col-md-3 card">
                    <h2 class="titleCard text-white text-center ">PRESENÇA</h2>
                    <div class="borderCard text-white bg-success card-body d-flex  align-items-center">
                        <p class="text-center">Os produtos Hipolabor estão presentes nos <strong style="font-size: larger;"> hospitais e clínicas dos quatros cantos do país</strong> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="pages bg-sobre" id="about">
    
</div>

<!-- Continuação About-us-->
<div class="pages bg-fundoCinza p-4" id="about">
    <div class="container ">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <img src="/assets/img/photopea/linhaDoTempo.png">
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-pin-map-fill"></i> Unidade <strong>Belo Horizonte</strong> </h5>
                  <h6 class="card-text test">Anel Rodoviário Celso Mello Azevedo, nº23.220.</h6>
                  <h6 class="card-text test">Bairro: Eymard, Belo Horizonte/MG CEP: 31.910-585</h6>
                  <h6 class="card-text test">Fone: (31) 3404-1800 | Fax: (31) 3408-1802</h6>   
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">  
                <div class="card-body">
                  <h5 class="card-title"> <i class="bi bi-pin-map-fill"></i> Unidade <strong>Montes Claros</strong> </h5>
                  <h6 class="card-text test">Av. das Indústrias 618-738 Montes Claros/MG Rodoviário Celso Mello Azevedo, nº23.220.</h6>
                  <h6 class="card-text test">Fone: (38) 3441-2000 </h6> 
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-pin-map-fill"></i> Unidade <strong>Sabará</strong> </h5>
                    <h6 class="card-text test">Anel Rodoviário Celso Mello Azevedo, nº23.220</h6>
                    <h6 class="card-text test">Bairro: Eymard, Belo Horizonte/MG CEP: 31.910-585</h6>
                    <h6 class="card-text test">Fone: (31) 3404-1800 | Fax: (31) 3408-1802</h6> 
                </div>
              </div>
            </div>
          </div>
    </div>
</div>