.page-about {
  height: 100vh;
}

.titleAbout {
  font-family: "Montserrat";
  color: #25aa76;
  font-size: 3rem;
}

.titleAboutStrong {
  color: #25aa76;
  font-size: 3rem;
  font-family: "Montserrat-ExtraBold";
  font-weight: bolder;
}

.titleCard {
  color: #25aa76;
  font-size: 2rem;
  font-family: "Montserrat-ExtraBold";
  font-weight: bolder;
}
