a{
    text-decoration: none;
}

.page-about{
    height: 80vh;
}

.titleAbout{
    font-family: 'Montserrat-ExtraBold';
    color: #25aa76;
    font-size: 3.0rem;
    font-weight: bolder; 
    border: #25aa76;
}