<div id="timeline" class="bg-fundoCinza" [ngClass]="{'pages': innerWidth >= 992}">
  <div class="container h-100">
    <div class="row d-flex flex-column align-items-center justify-content-center h-100">
      <img class="w-100" src="/assets/img/photopea/linhaDoTempo.png">
      <div class="row card-deck mt-5">
        <div class="col-4 card">
          <div class="card-body">
            <a href="https://www.google.com.br/maps/place/Hipolabor+Farmac%C3%AAutica+Ltda+-+Unidade+Administrativa/@-19.8595201,-43.9167785,18.29z/data=!4m9!1m2!2m1!1shipolabor!3m5!1s0x0:0x3d33fce89ae13d7c!8m2!3d-19.8595257!4d-43.9157567!15sCgloaXBvbGFib3KSAQxtYW51ZmFjdHVyZXI"
              target="_blank">
              <h5 class="card-title title-unity">
                <i class="bi bi-geo-alt-fill" style="color: #25aa76"></i>
                Unidade <span class="titleStrong">BELO HORIZONTE</span>
              </h5>
              <h5 class="card-text subtitle-unity">
                Anel Rodoviário Celso Mello Azevedo, nº23.220.
                Bairro: Eymard, Belo Horizonte/MG. CEP: 31.910-585
                Fone: (31) 3408-1800 | Fax: (31) 3408-1802
              </h5>
            </a>
          </div>
        </div>

        <div class="col-4 card">
          <div class="card-body">
            <a href="https://www.google.com.br/maps/place/Hipolabor+Farmac%C3%AAutica/@-16.688565,-43.872648,17z/data=!4m8!1m2!2m1!1sAv.+das+Ind%C3%BAstrias+618-738+Montes+Claros%2FMG+Rodovi%C3%A1rio+Celso+Mello+Azevedo,+n%C2%BA23.220!3m4!1s0x754ac83bdff6699:0xf5b15a9669eb2a15!8m2!3d-16.6881108!4d-43.8709026"
              target="_blank">
              <h5 class="card-title title-unity">
                <i class="bi bi-geo-alt-fill" style="color: #25aa76"></i>
                Unidade <span class="titleStrong">MONTES CLAROS</span>
              </h5>
              <p class="card-text subtitle-unity">
                Av. das Indústrias, 618-738. Montes Claros/MG.
                Fone: (38) 3441-2000
              </p>
            </a>
          </div>
        </div>

        <div class="col-4 card">
          <div class="card-body">
            <a href="https://www.google.com.br/maps/place/Hipolabor+Farmac%C3%AAutica/@-16.688565,-43.872648,17z/data=!4m8!1m2!2m1!1sAv.+das+Ind%C3%BAstrias+618-738+Montes+Claros%2FMG+Rodovi%C3%A1rio+Celso+Mello+Azevedo,+n%C2%BA23.220!3m4!1s0x754ac83bdff6699:0xf5b15a9669eb2a15!8m2!3d-16.6881108!4d-43.8709026"
              target="_blank">
              <h5 class="card-title title-unity">
                <i class="bi bi-geo-alt-fill" style="color: #25aa76"></i>
                Unidade <span class="titleStrong">SABARÁ</span>
              </h5>
              <p class="card-text subtitle-unity">
                Rodovia BR-262, Km 12,3. Bairro: Borges, Sabará/MG.
                Fone: 0800 031 1133
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
