<h4 mat-dialog-title>
    <mat-toolbar class="custom-toolbar">
        <span style="margin-right: 16px;">Detalhes do produto</span>
        <span class="spacer"></span>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
</h4>

<div mat-dialog-content style="margin: 0 8px 16px 8px">

    <mat-list>
        <div mat-subheader>Informações</div>
        <mat-list-item>
            <mat-icon mat-list-icon style="transform: scale(1.5);color: #191919;">medication</mat-icon>
            <div mat-line class="name">{{product.name}}</div>
            <div mat-line class="manufacturer">{{product.manufacturer}}</div>
            <a download href="{{product.tokenTechniqueProduct}}" class="medicine-package">
                <mat-icon>file_download</mat-icon>
            </a>
        </mat-list-item>
    </mat-list>
    <div mat-line class="presentation">{{product.presentation}}</div>


</div>