@charset "UTF-8";

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #f4623a;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #f4623a;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Regular"), url("assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat-ExtraBold";
    src: local("Montserrat-ExtraBold"), url("assets/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    height: 100%;
    scroll-padding-top: calc(4.5rem - 1px);
}

body {
    width: 100%;
    height: 100%;
}

/* Ajustes para os vídeos */

.text-blog {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
    font-weight: revert;
    color: #03bb85;
}

/* .bg-aboutUs {
    padding-top: 50rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: url("src/assets/img/imgHipolabor/aboutUs.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
} */

/* Criando css */



.denuncias {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.denuncias:hover {
    color: #fff;
    background-color: #03bb85;
    border-color: #fff;
}

/* header.home {
    background: url("src/assets/img/photopea/home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
} */

.bg-home {
    /* background: url("/assets/img/photopea/home.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bg-who-we-are {
    background: url("/assets/img/photopea/home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bg-leadership{
    background-color: #25aa76;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bg-sobre {
    background: url("src/assets/img/imgHipolabor/sobre.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bg-blog {
    background-image: url("/assets/img/blogHipolabor.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bg-fundoCinza {
    background: url("src/assets/img/imgHipolabor/fundoCinza.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bg-linhaDoTempo {
    background: url("src/assets/img/imgHipolabor/LinhaDoTempo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bg-product {
    background-image: url("/assets/img/photopea/fundoMedicamentos.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bg-news {
    background-image: url("/assets/img/photopea/fundoMidia.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bg-midia {
    background-image: url("/assets/img/photopea/fundoMidia.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bg-lgpd {
    background: url("/assets/img/photopea/lgpd.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bg-controleQualidade {
    background: url("/assets/img/photopea/controleQualidade.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bg-infoVigi {
    background-image: url("/assets/img/photopea/infoVigi.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bg-contact {
    background-image: url("/assets/img/photopea/fundoContato.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.borderCard {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.titleMidia {
    color: #fff;
}

.titleBlog {
    color: #25aa76;
    font-size: 2rem;
    font-weight: bolder;
}

.test {
    color: #6c757d;
}

.textLayout {
    color: #fff !important;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: end;
}

.testando {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #25aa76;
}

h1.teste {
    font-size: 4rem;
    color: #fff;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.borderContact {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
}

.sac {
    color: #fff !important;
    font-size: 1.5rem;
    margin-top: 10rem;
}

.blogBar {
    background-color: #25aa76;
    border-radius: 15px 15px 0 0;
}

.borderBlog {
    border: 2px solid #25aa76 !important;
    border-radius: 20px;
    /* border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-end-end-radius: 40px;
    border-end-start-radius: 40px; */
}

.btnContact {
    background-color: #fff;
}

.borderMed {
    color: #923b23;
    background-color: #fde0d8;
    border-color: #fcd0c4;
    border-top-left-radius: 40px;
    border-end-start-radius: 40px;
}

.pages {
    height: 100vh;
}

.pagesDynamics {
    min-height: 100vh;
}

.custom-dialog-container .mat-dialog-container {
    padding: 0 !important;
}

.cdk-overlay-container {
    z-index: 9999 !important;
}

a {
    color: #212529;
    text-decoration: none;
}

a:hover {
    color: #25aa76;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #03bb85;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(58, 244, 188, 0.25);
}

.form-select:focus {
    border-color: #03bb85;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(58, 244, 188, 0.25);
}

.form-check-input:focus {
    border-color: #03bb85;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(58, 244, 188, 0.25);
}

.form-check-input:checked {
    background-color: #03bb85;
    border-color: #03bb85;
}


@import "~bootstrap/dist/css/bootstrap.min.css";
