<h4 mat-dialog-title>
    <mat-toolbar class="custom-toolbar">
        <span style="margin-right: 16px;">Busca de produtos</span>
        <span class="spacer"></span>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
</h4>

<div mat-dialog-content style="margin: 0 8px 16px 8px">

    <mat-selection-list #listProducts [multiple]="false">
        <div mat-subheader>{{products.length > 0 ? 'Resultados' : 'Nenhum produto encontrado'}}</div>
        <mat-list-option *ngFor="let product of products" [value]="product" (click)="viewDetail(product)">
            <mat-icon mat-list-icon style="transform: scale(1.5);color: #25aa76;">medication</mat-icon>
            <div mat-line class="name">{{product.name}}</div>
            <div mat-line class="manufacturer">{{product.manufacturer}}</div>
            <div mat-line class="presentation">{{product.presentation}}</div>
        </mat-list-option>
    </mat-selection-list>

</div>