.bg-blog {
    background-image: url("/assets/img/blogHipolabor.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.borderBlog {
    border-radius: 10px !important;
}

.titleBlog {
    color: #25aa76;
    font-size: 3rem;
    margin: 40px 0;
    border: #25aa76;
    font-weight: initial !important;
}

.blogTeste {
    background-color: #25aa76;
}

.title-card {
    color: #25aa76;
    font-weight: bold;
}
