.bg-blog {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background-image: url("/assets/img/blogHipolabor.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.page-blog{
    height: 100vh;
}

.borderBlog {
    border-radius: 10px !important;
}

.titleBlog{
    color: #25aa76;
    font-size: 3.0rem; 
    border: #25aa76;
    font-weight: initial !important;
}

.blogTeste{
    background-color: #25aa76;
    
}

.title-card {
    color: #25aa76;
    font-weight: bold;
}