<!-- Blog-->
<section class="page-section bg-blogHipolabor" id="blog">
    <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0"><strong>Blog</strong> Hipolabor </h2>
                    <hr class="dividerBlog" />
                </div>
            </div>
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <h1 class="text-green text-center">DIA DAS MÃES</h1>
                    <div class="card"><img src="assets/img/imagem-maes.jpeg" class="card-img">
                        <div class="card-body">
                            <h2 class="text-blog"> <strong> HIPOLABOR HOMENAGEIA COLABORADORAS NO DIA DAS MÃES </strong></h2>
                            <!-- <p class="mt-4 card-text"><a href="/" class="card-link text-custom">Card link</a><a href="/" class="card-link text-custom">Another link</a></p> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h1 class="text-green text-center">37 ANOS</h1>
                    <div class="card"><img src="assets/img/imagem-maes.jpeg" class="card-img">
                        <div class="card-body">
                            <h2 class="text-blog"> <strong> HIPOLABOR CELEBRA 37 ANOS DE ATIVIDADES COM RESULTADOS EXPRESSIVOS </strong> </h2>
                            <!-- <p class="mt-4 card-text"><a href="/" class="card-link text-custom">Card link</a><a href="/" class="card-link text-custom">Another link</a></p> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h1 class="text-green text-center">DIA DAS MULHERES</h1>
                    <div class="card"><img src="assets/img/imagem-maes.jpeg" class="card-img">
                        <div class="card-body">
                            <h2 class="text-blog"> <strong> HIPOLABOR HOMENAGEIA COLABORADORAS NO DIA INTERNACIONAL DA MULHER </strong> </h2>
                            <!-- <p class="mt-4 card-text"><a href="/" class="card-link text-custom">Card link</a><a href="/" class="card-link text-custom">Another link</a></p> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg" title="Project Name">
                        <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                    <h3 class="h4 mb-2">Up to Date</h3>
                    <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                        <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                    <h3 class="h4 mb-2">Up to Date</h3>
                    <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                </div> -->

            </div>
        </div>
    </div>
</section>