<!-- Blog-->
<div id="blog" class="page-blog bg-blog">
    <div class="container h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-lg-8 col-xl-6 text-center">
                <h1 class="titleBlog"><span style="font-weight: bold; font-family: 'Montserrat-ExtraBold';">Blog</span> HIPOLABOR</h1>
                <!-- <hr class="dividerBlog" /> -->
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <h1 class="text-center title-card">DIA DAS MÃES</h1>
                    <div class="card rounded borderBlog">
                        <div class=" blogTeste w-100 d-flex justify-content-end px-2">
                            <i class="bi bi-circle-fill mx-1" style="color:salmon"></i>
                            <i class="bi bi-circle-fill mx-1" style="color: darksalmon;"></i>
                            <i class="bi bi-circle-fill mx-1" style="color: tomato;"></i>

                        </div>
                        <img src="assets/img/imagem-maes.jpeg" class="card-img">
                        <div class="card-body">
                            <h2 class="text-blog"> <strong> HIPOLABOR HOMENAGEIA COLABORADORAS NO DIA DAS MÃES </strong>
                            </h2>
                            <!-- <p class="mt-4 card-text"><a href="/" class="card-link text-custom">Card link</a><a href="/" class="card-link text-custom">Another link</a></p> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h1 class="text-center title-card">37 ANOS</h1>
                    <div class="card rounded borderBlog">
                        <div class=" blogTeste w-100 d-flex justify-content-end px-2">
                            <i class="bi bi-circle-fill mx-1" style="color:salmon"></i>
                            <i class="bi bi-circle-fill mx-1" style="color: darksalmon;"></i>
                            <i class="bi bi-circle-fill mx-1" style="color: tomato;"></i>

                        </div>
                        <img src="assets/img/imagem-maes.jpeg" class="card-img">
                        <div class="card-body">
                            <h2 class="text-blog"> <strong> HIPOLABOR CELEBRA 37 ANOS DE ATIVIDADES COM RESULTADOS
                                    EXPRESSIVOS </strong> </h2>
                            <!-- <p class="mt-4 card-text"><a href="/" class="card-link text-custom">Card link</a><a href="/" class="card-link text-custom">Another link</a></p> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h1 class="text-center title-card">DIA DAS MULHERES</h1>
                    <div class="card rounded borderBlog">
                        <div class=" blogTeste w-100 d-flex justify-content-end px-2">
                            <i class="bi bi-circle-fill mx-1" style="color:salmon"></i>
                            <i class="bi bi-circle-fill mx-1" style="color: darksalmon;"></i>
                            <i class="bi bi-circle-fill mx-1" style="color: tomato;"></i>
                        </div>
                        <img src="assets/img/imagem-maes.jpeg" class="card-img">
                        <div class="card-body">
                            <h2 class="text-blog"> <strong> HIPOLABOR HOMENAGEIA COLABORADORAS NO DIA INTERNACIONAL DA
                                    MULHER </strong> </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>