.bg-blog {
    background-image: url("/assets/img/blogHipolabor.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.borderBlog {
    border-radius: 10px !important;
}

.titleBlog {
    color: #25aa76;
    font-size: 3rem;
    line-height: 3rem;
    margin: 40px 0;
    border: #25aa76;
    font-weight: initial !important;
    padding: 4rem 0 3rem 0;
    margin: 0;
}

.blogTeste {
    background-color: #25aa76;
}

.title-card {
    color: #25aa76;
    font-weight: bold;
}

@media screen and (min-width: 992px) {

}

@media screen and (max-width: 992px) {
    
}